Xft.dpi: 166
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 48

URxvt.font: xft:Hack:size=14
URxvt.scrollBar: false
URxvt.perl-ext-common:resize-font
URxvt.keysym.C-minus:resize-font:smaller
URxvt.keysym.C-equal:resize-font:bigger
URxvt.keysym.C-0:resize-font:reset

*.foreground: #BCBCBC
*.background: #262626
*.color0:     #1C1C1C
*.color8:     #444444
*.color1:     #AF5F5F
*.color9:     #FF8700
*.color2:     #5F875F
*.color10:    #87AF87
*.color3:     #87875F
*.color11:    #FFFFAF
*.color4:     #5F87AF
*.color12:    #87AFD7
*.color5:     #5F5F87
*.color13:    #8787AF
*.color6:     #5F8787
*.color14:    #5FAFAF
*.color7:     #6C6C6C
*.color15:    #FFFFFF
