@import "colors.css";

* {
    font-family: Geist Medium;
    font-size: 12px;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    color: @subtext0;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.focused {
    color: @sky;
}

#workspaces button.urgent {
    color: @pink;
}

#clock,
#battery,
#disk,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#scratchpad,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    color: @text;
}

#battery {
    background-color: transparent;
    color: @text;
}

@keyframes blink {
    to {
        background-color: @mantle;
        color: @subtext0;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @pink;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @subtext1;
}

#pulseaudio {
    background-color: transparent;
    color: @text;
}

#wireplumber {
    background-color: transparent;
    color: @text;
}

#tray {
    background-color: transparent;
    color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @crust;
}
